@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.Roll-again-logo path {
    fill: #ff0000;
  }

.navbar-base {
    font-weight: 400;
}

.Roll-again-logo {
    height: 5vmin;
    pointer-events: none;
    fill: white;
    color: white;
}