.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 0px 20px 0px;
}

.search-form {
    width:75%;
    text-align: center;
}

.search-cards{
    margin:20px;
}